@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Keep track of your time with accuracy and precision. Use the same web app on your desktop, tablet or phone.</p>
