@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    A business web application for keeping track of hours spent on a project with the ability to handle multiple resources as well as multiple projects.
</p>
<p>
    Keep track of your time with accuracy and precision. Use the same web app on your desktop, tablet or phone.
</p>
