@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<div class="jumbotron">
    <h2>@ViewBag.Message</h2>
    <p>
        Tracking Time is a business web application for keeping track of hours spent on a project with the ability to handle multiple resources as well as multiple projects.
    </p>

    <p><a class="btn btn-primary" href="https://github.com/meiordac/tracking-time" role="button">Learn more</a></p>
</div>


<p>
    I looked at many of the free time tracking programs out there and they didn't really fit my personal needs. I wrote this web ASP.NET Web Application using the last version of the .NET Framework at the time and the last Nugets.
</p>
<p>
    Helps you keep track of your time with accuracy and precision. Use the same web app on your desktop, tablet or phone.
</p>

