@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

    <div class="container">
        <p>
            Want to see examples of code? visit my Github repository. If you want to see more about my experience please visit my Linkedin profile
        </p>
        <div class="call-to-action">
            <ul class="list-inline intro-social-buttons">
                <li> <a href="https://twitter.com/matias_iordache" class="btn btn-default"><i class="fa fa-twitter fa-lg"></i> <span>Twitter</span></a> </li>
                <li> <a href="https://github.com/meiordac/" class="btn btn-default"><i class="fa fa-github fa-lg"></i> <span class="network-name">Github</span></a> </li>
                <li> <a href="https://www.linkedin.com/in/matiasiordache" class="btn btn-default"><i class="fa fa-linkedin fa-lg"></i> <span class="network-name">Linkedin</span></a></li>
            </ul>
        </div>
    </div>

<h3>@ViewBag.Message</h3>
<address>
    <strong>Developer:</strong> <a href="mailto:matias.iordache@gmail.com">Matias Iordache</a><br />
    <strong>Phone Number:</strong> (+569) 95845219<br />
</address>