@{
    ViewBag.Title = "Home Page";
}

<!-- Full Width Image Header with Logo -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->
<header class="img-header" style="background-image: url(@Url.Content("~/Content/images/time.jpg"))">
</header>

<div class="row">
    <div class="col-md-4">
        <h2>Time Tracking</h2>
        <p>
            Keep track of your time with accuracy. You can track your time on your phone, tablet or desktop as it is a web app.
        </p>
        @Html.ActionLink("Track", "Index", "TimeActivities", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>Allow your customers to login and analyze time spent on their projects and view reports. There will be different roles.</p>
       @Html.ActionLink("Customers", "Index", "Customers", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Users</h2>
        <p>Users will adapt quickly to this easy to use web application. You can assign different roles to different users and pick team managers..</p>
    </div>
</div>